<!DOCTYPE>
<html ng-app="mean_project" ng-cloak>
	<head>
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="../css/login.css">
	</head>
	<body ng-controller="loginCtrl">

		<div layout="column" layout-align="center center" layout-fill="layout-fill" class="layout-fill ng-scope layout-align-center-center layout-column">
			<div class="loginBox md-whiteframe-z1 layout-column" layout="column">
			    <md-toolbar class="_md _md-toolbar-transitions">
			        <h2 class="md-toolbar-tools"><span>Login</span></h2>
			    </md-toolbar>
			    <md-content class="md-padding _md layout-column" layout="column">
			        <md-input-container>
			            <label for="input_0">User</label>
			            <input type="input" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.email" id="input_0">
			        </md-input-container>
			        <md-input-container>
			            <label for="input_1">Password</label>
			            <input type="password" class="ng-pristine ng-valid md-input ng-touched" ng-model="user.password" id="input_1">
			        </md-input-container>
			        <div layout="row" layout-align="center center" style="padding-top:20px;" class="layout-align-center-center layout-row">
			            <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
			        </div>
			    </md-content>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/angular-animate.min.js"></script>
	<script type="text/javascript" src="../js/angular-aria.min.js"></script>
	<script type="text/javascript" src="../js/angular-messages.min.js"></script>
	<script type="text/javascript" src="../js/angular-material.min.js"></script>
	<script type="text/javascript" src="../js/angular-route.min.js"></script>

	<script type="text/javascript" src="../app.js"></script>
	<script type="text/javascript" src="../controllers/loginCtrl.js"></script>
</html>